.activity-container {
  margin-top: 20px;
}

.activity-hosted-by {
  text-align: center;
  margin-bottom: 10px;
  a {
    color: black;
    text-decoration: none;
  }
  &:hover {
    opacity: 0.7;
  }
}

.activity-info {
  padding: 20px;
}

.activity-book {
  text-align:center;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
}

.activity-location {
  padding: 20px;
}
.activity-reviews {
  padding: 20px;
}

