.profile-image-container {
  padding: 20px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-about-container {
  padding: 20px;
}

.profile-name {
  padding: 20px;
}

.profile-about {
  padding: 20px;
}