<div class="container">
	<div class="row">
		<div class="col-sm-12 all-friends">
			<h2>All Friends</h2>
			<hr>
			<%= render 'recieved_by' %>
			<%= render 'sent_by' %>
		</div>
		<div class="col-sm-12 recieved-requests">
			<h2>Recieved Friend Requests</h2>
			<hr>
			<%= render 'recieved_requests' %>
		</div>
		<div class="col-sm-12 sent-requests">
			<h2>Sent Friend Requests</h2>
			<hr>
			<%= render 'sent_requests' %>
		</div>
	</div>
</div>



