.amenity-card {
  height: 200px;
  background-size: cover;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.amenity-card-content {
  font-weight: bold;
  color: white;

}
