.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding: 15px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.nav-item a {
  display: inline-block;
}

@media screen and (max-width: 700px) {
  .nav-item a {
  display: block;
  }
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}