.profile-card-container {
	padding: 10px;
	a {
		text-decoration: none;
		color: black;
	}
}

.profile-card {
	padding: 20px;
	border-radius:5px;
	transition: all 1s;
	height: 430px;
	&:hover {
		transition: all 1s;
		box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
	}
}

.profile-card-image {
	margin: auto;
	height: 100px;
	width: 100px;
	background-size: cover;
	border-radius: 50%;
}

.profile-card-content {
	margin-top: 15px;
	h4 {
		font-weight: bold;
		text-align:center;
	}
	h5 {
		font-size: 1em;
		word-wrap: break-word;
		text-align:center;
	}
	p {
		text-align: center;
	}
}



.friend-status {
	text-align: center;
}